.header {
    position: sticky;
    top: 0;
    display: flex; 
    background-color: white;
    justify-content: space-evenly;
    border-bottom: 0.1px solid #e3e7f3;
    padding: 10px 0;
    width: 100%;
    z-index: 999;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left > img {
    object-fit: contain;
    height: 45px;
    margin-right: 10px;
}   

.header__search {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: #4e655d;
    background-color:#f8f8f8;
}

.header__search > input {
    border: none;
    outline: none;
    background: none;
}

.header__right {
    display: flex;
}

::placeholder {
    color: #9da3af;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: #9da3af;
  }