.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    color: #9ea8b2;
    cursor: pointer;    
}

.headerOption:hover {
    color: #00af52;   
}

.headerOption__title {
    font-size: 10px;
    font-weight: 400;
}   

.headerOption__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;

}

